.DS_Store
build
DerivedData
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata/*
*.pyc
*xcuserdata*
*.xcuserstate*
uptodate.xccheckout
/app/Carthage
/app/build
Pods
Pods/*
Pods/**
Podfile.lock
Debug*/
/Watchlist/Models/TraktConstants.swift
/Watchlist/Models/TMDBConstants.swift